[profile.default]
src = 'contracts'
out = 'out'
libs = ['lib']
test = 'test'
cache_path = 'cache_forge'
ffi = true
ast = true
build_info = true
extra_output = ['storageLayout']
fs_permissions = [
    { access = "read", path = "./out" },
    { access = 'read', path = './deployments' },
    { access = 'read', path = './scripts/chainlink-functions/' },
    { access = "read", path = "./broadcast" },
    { access = "read", path = "./reports" },
    { access = "write", path = "scripts/simulations/" },
]

# Compiler settings
auto_detect_solc = true
optimizer = true
optimizer_runs = 30000
evm_version = 'cancun'

[lint]
lint_on_build = false

[fuzz]
runs = 256
seed = "0x2"

[invariant]
runs = 256
depth = 32
fail_on_revert = true

[etherscan]
arb_one = { key = "${ETHERSCAN_API_KEY}" }
arb_sepolia = { key = "${ETHERSCAN_API_KEY}" }

[rpc_endpoints]
arb_one = "${ARBITRUM_MAINNET_RPC_URL}"
arb_sepolia = "${ARBITRUM_TESTNET_SEPOLIA_RPC_URL}"
